.calender-div {
    width: 100%;
    height: 276px;
    border-radius: 20px;
    background: #FCFCFC;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.10);
    box-sizing: border-box;

}

.calender-div>p {
    color: #4D4D4D;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 19px 0 21px 0;

}

.calender-div>div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    place-items: center;
    row-gap: 10px;
}

.current-date-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    color: #D8D8D8;
}

.prev-date-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    color: #757575;
}

.total-date-ct {
    box-sizing: border-box;
}

.today {
    background-color: #D8D8D8;
}

.click {
    background-color: #2C8FFF;
    color: #FFF;
}


@media screen and (min-width: 1200px) {
    .calender-div>p {
        font-size: 30px;
    }

    .current-date-div {
        width: 55px;
        height: 55px;
        font-size: 20px;

    }

    .prev-date-div {
        width: 55px;
        height: 55px;
        font-size: 20px;
    }

    .calender-class-ct {
        display: none;
    }

    .calender-div {
        height: 450px;
    }

    .total-date-ct {
        padding: 0 100px;
    }
}