.red {
    color: #F00;
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mypage_header {
    width: 100%;
    height: 96px;
    background: #ECECEC;
    padding-right: 43px;
}

.mypage_header>div {
    padding-top: 55px;
    display: flex;
    color: #4D4D4D;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mypage_header>div>button {
    display: flex;
    width: 33px;
    height: 33px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    background-color: #ECECEC;
    margin-left: 10px;
}

.mypage_header>div>p {
    margin: auto;
}

.form_section {
    margin: 53px 34px 0 34px;
}

.form_section>label {
    color: #4D4D4D;
    font-family: "Pretendard Variable";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-top: 15px;
}

.form_section>input {
    margin-top: 10px;
    display: flex;
    height: 53px;
    padding: 14px 20px;
    align-items: center;
    gap: 186px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid #A2A2A2;
    width: 100%;
}

.form_section>p {
    color: #8B8686;
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0px 5px 10px;
}

.form_section>button {
    margin-top: 76px;
    display: flex;
    width: 100%;
    height: 53px;
    padding: 11px 29px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #D9D9D9;
    color: #FCFCFC;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}