.class_ct {
    display: flex;
    width: 100%;
    height: 82px;
    background: #FCFCFC;
    border-radius: 10px;
    border: 1px solid #D8D8D8;
}


.class_info {
    display: flex;
    flex-direction: column;
    height: 82px;
    justify-content: center;
    color: #A2A2A2;
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 12px;
}


.class_info>p:nth-of-type(2) {
    color: #292929;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.class_time {
    text-align: center;
    width: 78px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-right: 1px solid #D8D8D8;
}

.seat_num {
    color: #01AEB0;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    /* 100% */
}

.start_t {
    color: #292929;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start_time {
    color: #292929;
    text-align: center;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    /* 116.667% */
}

.ent_t {
    color: #A2A2A2;
    text-align: center;
    font-family: Pretendard;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    margin-bottom: 11px;
}

.ent_time {
    color: #A2A2A2;
    text-align: center;
    font-family: Pretendard;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    margin-bottom: 10px;
    height: 7px;

}

.can_seat {
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A2A2A2;
    text-align: center;
    font-family: Pretendard;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0 0 0 10px;
    border: 1px solid #D8D8D8;
    background: linear-gradient(0deg, #D8D8D8 0%, #D8D8D8 100%), #FCFCFC;
}

.can_seat>p:first-of-type {
    color: #2C8FFF;
}





.class_ct_web {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    border-radius: 30px;
    background: #FCFCFC;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10) inset, 10px 10px 10px 0 rgba(0, 0, 0, 0.10);
}



.class_ct_web>div {
    display: flex;
    flex-direction: column;

}

.date_time_ct_web {

    width: 150px;
    color: #0E0E0E;
    text-align: center;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
}

.class_infos_web {
    margin-top: 32px;
    color: #A2A2A2;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.class_name_web {
    color: #0E0E0E;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.class_book_web {
    color: #2C8FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 9px;
}

.class_ct_web>button {

    display: flex;
    align-items: center;
    width: 228px;
    height: 45px;
    padding: 17px 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid #01AEB0;
    background: #FCFCFC;
    color: #01AEB0;
    text-align: center;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.date_time_ct_web+div {
    align-self: flex-start;
}

.class_ct_web>button {
    margin: 0 60px 0 auto;
}

.two_button_ct {
    display: flex;
    flex-direction: column;
    margin: 0 60px 0 auto;
    gap: 5px;

}

.two_button_ct>button {
    border-radius: 50px;
    border: 2px solid #01AEB0;
    background: #FCFCFC;
    display: flex;
    width: 180px;
    height: 30px;
    padding: 17px 51px;
    justify-content: center;
    align-items: center;
    color: #01AEB0;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}