.form_ct {
    margin: 0 123px 0 127px;
}

.form_ct>div {
    display: flex;
    align-items: center;
    padding: 34px 0 40px 0;
    border-bottom: 1px solid #A2A2A2;

}

.form_ct>div:first-of-type {

    padding: 7px 0 40px 0 !important;


}

.form_ct>div:last-of-type {

    border-bottom: 0px !important
}

.form_ct>div>button {
    margin-left: 57px;
    display: flex;
    width: 164px;
    height: 54px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #757575;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form_ct>div>label {
    width: 114px;
}

.form_ct>div>input {
    width: 100%;
    display: flex;
    height: 77px;
    padding: 24px 14px;
    align-items: center;

    border: 1px solid #A2A2A2;
    background: #FCFCFC;
    color: #D8D8D8;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form_ct>div>div>input {
    width: 100%;
    display: flex;
    height: 77px;
    padding: 24px 14px;
    align-items: center;
    border: 1px solid #A2A2A2;
    background: #FCFCFC;
    color: #D8D8D8;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form_ct>div>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}