.sub_h_ct {
    display: flex;

    width: 100%;
    height: 104px;
    background: #01AEB0;
    color: #FFF;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: fixed;
    top: 0;
    padding: 49px 0 0 28px;
    box-sizing: border-box;
}

.sub_title {
    display: flex;
    margin: 30px 123px 20px 122px;
    justify-content: space-between;
}

.sub_title>p {
    color: #01AEB0;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sub_title>div {
    display: flex;
    gap: 15px;
}

.sub_title button {
    width: 120px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #757575;
    font-family: Pretendard;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.sub_header_reserve {
    width: 100%;
    border-bottom: 1.5px solid #CFD8DC;
    display: flex;

}

.sub_header_reserve>div {
    color: #757575;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 0 71px;
    padding: 20px 0;
    border-bottom: 4px solid #01AEB0;
    text-align: center;
}

.sub_header_reserve>section {
    display: flex;
    width: 220px;
    height: 40px;
    position: absolute;
    border: 1px solid #CFD8DC;
    background: #FCFCFC;
    justify-content: center;
    gap: 15px;
    left: 623px;
    top: 221px;
    align-items: center;
    color: #A2A2A2;
    font-family: Pretendard;


    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (min-width: 1200px) {
    .sub_h_ct {
        display: none;
    }
}