.sub_h_ct {
    display: flex;

    width: 100%;
    height: 104px;
    background: #01AEB0;
    color: #FFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: fixed;
    top: 0;
    padding: 49px 0 0 28px;
    box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
    .sub_h_ct {
        display: none;
    }
}