.id-psw-find-ct {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

.id-psw-find-ct>p {
    color: #353535;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Idpsw-mobile-line.step-1 {
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #01AEB0 50%, #E1E0E0 50%);
    margin-top: 21px;
}

.Idpsw-mobile-line.step-2 {
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #E1E0E0 50%, #01AEB0 50%);
    margin-top: 21px;
}

.idpsw {
    width: 11px;
    height: 22px;
}

.idpsw-top-desktop {
    display: none;
}


/* IdPswFindDesktop.css */
@media (min-width : 1024px) {
    .idpsw-top-desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 45px;
        margin-top: 95px;
    }

    .idpsw-top-desktop>p {
        color: #424C5E;
        text-align: center;
        font-family: Pretendard;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .idpsw-desktop-ct {
        display: flex;
        justify-content: center;
    }

    .idpsw-btn {
        display: block;
        width: 40%;
        background: #ECECEC;
        color: #FCFCFC;
        text-align: center;
        font-family: "Pretendard Variable";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        height: 73px;
    }

    .idpsw-desktop-step-1 {
        background: #ECECEC !important;
    }

    /* 활성 상태 (진한 색상) */
    .idpsw-desktop-step-2 {
        background: #424C5E !important;
    }
}

@media (min-height : 720px) and (max-height : 900px) {
    .idpsw-top-desktop {
        margin-top: 40px;
    }
}

/* SignupTermDesktop.css */
.signterm-desktop-top {
    display: none;
}

@media (min-width : 1024px) {

    .signterm-desktop-top {
        display: block;
    }

    .term-step1-ct.active,
    .term-step2-ct.active,
    .term-step3-ct.active {
        background: #424C5E !important;
    }

    .term-step1-ct.active>p,
    .term-step2-ct.active>p,
    .term-step3-ct.active>p {
        color: #FCFCFC !important;
    }
}