/* IdFind.jsx */
.idfind-info-ct,
.pswfind-info-ct {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 42px;
}

.idfind-btn {
    width: 85%;
    margin: 0 auto;
    border-radius: 5px;
    background: #01AEB0;
    height: 53px;

    color: #FAFAFA;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* IdFind2.jsx */
.idfind2-coment {
    color: #4D4D4D;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 87px;
}

.user-find-inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 132px;
    border-radius: 10px;
    border: 1px solid #A2A2A2;
    margin: 0 auto;
    margin-top: 32px;
}

.user-find-inf>p {
    color: #292929;
    font-family: "Pretendard Variable";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.idfind2-btn-ct {
    display: flex;
    width: 80%;
    /* height: 50px; */
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 60px;
}

.idfind2-btn-ct>button {
    color: #01AEB0;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 45%;
    height: 53px;
    border-radius: 5px;
    border: 1px solid #01AEB0;
    background-color: #FFF;
}

/* PasswordFind.jsx */
.pswfind-recheck-btn {
    margin: 0 auto;
    border-radius: 5px;
    background: #01AEB0;
    width: 85%;
    display: block;
    color: #FAFAFA;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 53px;
    margin-top: 38px;
}

.pswfind-complete,
.psw-recheck-btn {
    display: none;
}

.pswfind-complete {
    display: flex;
    flex-direction: column;
    gap: 14px;

}

.pswfind-complete>p:nth-child(1) {
    color: #01AEB0;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 170px;
}

.pswfind-complete>p:nth-child(2) {
    color: #292929;
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.pswfind-complete>p:nth-child(2)>span {
    color: #01AEB0;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.psw-resetting-btn {
    width: 85%;
    height: 53px;
    margin: 0 auto;
    border-radius: 5px;
    background: #01AEB0;
    color: #FAFAFA;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 39px;
}

/* PswResetting.jsx */
.psw-resetting-ins {
    color: #4D4D4D;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 80%;
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 14px;
    ;
}

.new-psw-total-ct {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    margin: 0 auto;
}

.new-psw-ct,
.new-psw-recheck-ct {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.new-psw-ct>label,
.new-psw-recheck-ct>label {
    color: #4D4D4D;
    font-family: "Pretendard Variable";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.new-psw-ct>p,
.new-psw-recheck-ct>p {
    color: #8B8686;
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}

.new-psw-ct>input::placeholder,
.new-psw-recheck-ct>input::placeholder {
    color: #D5D5D5;
    font-family: "Pretendard Variable";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pw-input-wrap {
    width: 100%;
    height: 53px;
    border-radius: 5px;
    border: 1px solid #A2A2A2;
    padding: 14px 20px;
}

.psw-change-btn {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    background: #01AEB0;
    height: 53px;

    color: #FAFAFA;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 52px;
}

.pw-icon-btn {
    position: absolute;
    right: 15%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* PswChangeComplete.jsx */
.pswchange-complete-check-img-ct {
    margin-top : 84px;
    width : 100px;
    height : 100px; 

    display : flex;
    justify-content: center;
    align-items: center;
}

.pswchange-completecheck-img {
    position: absolute;
}

.pswchange-complete-btn {
    border-radius: 5px;
    background: #01AEB0;
    width: 80%;
    height: 53px;

    color: #FAFAFA;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top : 83px;

}