.id-psw-find-ct {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

.id-psw-find-ct>p {
    color: #353535;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Idpsw-mobile-line.step-1 {
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #01AEB0 50%, #E1E0E0 50%);
    margin-top: 21px;
}

.Idpsw-mobile-line.step-2 {
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #E1E0E0 50%, #01AEB0 50%);
    margin-top: 21px;
}

.idpsw {
    width : 11px;
    height : 22px;
}