/* Header.jsx css 구간*/
/* Header 컨테이너  */
.top-header-ct {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}

/* 로그아웃 버튼 설정 */
.logout {
  color: #A2A2A2;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 112px 73px 0px 0px;
  display: none;
}

/* 모바일 상단에 보이는 프로필 사진 */
.mobile-profile-img {
  display: block;
  margin: 42px 27px 0px 0px;
}

/* 상단 회색 라인 부분 */
.top-line {
  height: 1.5px;
  background-color: #CFD8DC;
  margin-top: 15px;
  /* border-style: solid; */
}



/* Signup.jsx css 구간 */
/* 시대원 학원 로고 */
.academy-logo {
  margin-top: 42px;
}

/* 시대원 학원 로고 데스크톱 버전 */
.academy-logo-desktop {
  margin-left: 0px;
}

/* 로그인 관련 컨테이너 */
.login-ct {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 59px 25px 0px 25px;
  gap: 20px;
}

/* 로그인 글자 */
.login-ct>p {
  color: #01AEB0;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 17px;
}

/* 아이디, 비밀번호 입력창 */
.id-input,
.password-input {
  width: 100%;
  height: 3rem;

  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid #A2A2A2;

  color: #4D4D4D;
  font-family: "Pretendard Variable";
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* 로그인 버튼 */
.login-btn {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  background: #01AEB0;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10px;

  color: #FCFCFC;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

/* 아이디, 비밀번호 찾기, 회원가입 컨테이너 */
.find-singup-ct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

/* 아이디 찾기 비밀번호 찾기 회원가입 사이 | 설정 */
.find-singup-ct>div {
  width: 1px;
  font-size: 0.7rem;
  color: #D8D8D8;
}

/* 아이디, 비번, 회원가입 글자 설정  */
.id-find,
.password-find,
.signup {
  color: #757575;
  font-family: "Pretendard Variable";
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 구글, 네이버 로그인 컨테이너 */
.google-naver-login {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 30%;
}

/* 구글, 네이버 로고 크기  */
.google-login-logo,
.naver-login-logo {
  width: 2rem;
}

.login-form-ct {
  display: flex;
  width: 95%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.sns-login-inf {
  width : 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap : 10px;
  margin-top : 48px;
  
}

.sns-line {
  width: 30%;
  height: 1px;
  background: #A2A2A2;
}

.sns-title {
  color: #A2A2A2;
  font-family: "Pretendard Variable";
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* SignupTop.jsx 코드 css */
.mobile-login-top-ct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 32px;
  margin-right: 27px;
  margin-left: 27px;
}

@media (min-height:700px) {
  .mobile-login-top-ct {
    margin-top : 68px;
  }
}

.login-title-font {
  color: #353535;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mobile-login-top-ct>div {
  width: 11px;
}

.login-mobile-line {
  width: 100%;
  height: 3px;
  background: #E1E0E0;
}


@media (min-width : 1281px) {
  .mobile-ct {
    display: none;
  }

  .desktop-ct {
    display: block;
  }

  .academy-logo {
    margin-left: 0px;
  }

  .academy-logo-desktop {
    margin-left: 112px;
  }

  .login-ct {
    width: 40%;
    margin: 0 auto;
    margin-top: 113px;
    border-radius: 15px;
    border: 1px solid #D8D8D8;
    height: 450px;
  }

  .login-ct>p {
    margin-top: 52px;
  }

  .logout {
    display: block;
  }

  .mobile-profile-img {
    display: none;
  }
}


@media (min-width : 1440px) and (max-width : 1450px) {
  .academy-logo-desktop {
    margin: 0px 0px 0px 30px;
  }

  .academy-logo,
  .logout {
    margin-top: 30px;
  }

  .logout {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}