.modal {
    border-radius: 20px;
    border: 1px solid #2C8FFF;
    background: #FCFCFC;
    box-shadow: 0 0 10px 0 rgba(44, 143, 255, 0.50);
    width: 848.861px;
    height: 279px;
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.modal p {
    color: #4D4D4D;
    text-align: center;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 78px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}


.modal>div {
    height: 277px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.modal input {
    height: 52px;
    padding: 14px 20px;
    gap: 5px;
    border-radius: 10px;
    border: 1px solid #D5D5D5;
    width: 374px;
    margin: 0 0 28px 0;
}

.modal button {
    width: 823px;
    color: #2C8FFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-top: 1px solid #A2A2A2;
    height: 87px;
    background: #FCFCFC;
}