.top {
    position: sticky;
    display: flex;
    top: 0;
    background: #FCFCFC;
    width: 100%;

    justify-content: center;
    align-items: center;
    color: #4D4D4D;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 70px;
    border-bottom: 1px solid #ECECEC;
}

.top>p {
    text-align: center;
}

.infos {
    display: flex;
    flex-direction: column;
    color: #757575;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.infos>div {
    display: flex;
    height: 50px;
    border-bottom: 1px solid #ECECEC;

}



.infos>div>div>button {
    color: #4D4D4D;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #FCFCFC;
    display: flex;
    height: 37px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #4D4D4D;
    width: 140px;
}


.black {

    border: 1px solid #4D4D4D;
    background: #4D4D4D !important;

    color: #FFF !important;

}

.infos>div>p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos>div>div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.reservations_ct {
    margin: 0 56px 0 79px;
    border-radius: 10px;
    background: #FCFCFC;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 0 17px;
    height: 500px;
    overflow-y: scroll;
}

.info_0_9 {
    flex-basis: 9%;
}

.info_1 {
    flex-basis: 10%;

}

.info_1_5 {
    flex-basis: 15%;
}

.info_1_7 {
    flex-basis: 17%;
}

.info_1_9 {
    flex-basis: 19%;
}

.info_2 {
    flex-basis: 20%;

}


.info_2_1 {
    flex-basis: 21%;

}

.info_1_4 {
    flex-basis: 14%;
}

.info_1_btn {
    flex-basis: 10%;
    justify-content: center !important;
    align-items: center !important;
}

.sub_title {
    display: flex;
    margin: 30px 67px 20px 122px;
    justify-content: space-between;
}

.sub_title>p {
    color: #01AEB0;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.search_div {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #A2A2A2;
    background: #FFF;
    width: 300px;
    height: 55px;
}

.search_div>input {
    padding-left: 24px;
    width: 150px;

}

.search_div>button {
    margin-left: auto;
    width: 70px;
    height: 55px;
    border: 1px solid #A2A2A2;
    border-radius: 0 10px 10px 0;
    background: #FFF;
}

.reservation_check_ct>div>button {
    display: none;
}