.calender_ct {
    margin: 0 167px 0 146px;
}


.class_form {
    margin: 0px 267px 0 122px;
}

.class_day {
    color: #292929;
    font-family: Pretendard;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reservation_form,
.select_bottom,
.select_top {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.reservation_form>section>div {
    margin-right: 77px;
    display: flex;
    align-items: center;

}

.labels {
    width: 114px;
    color: #4D4D4D;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.select_top select {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 20px 14px;
    align-items: center;
    border: 1px solid #A2A2A2;
    background: #FCFCFC;
    box-sizing: border-box;
    border-radius: 5px;

}

.showP {
    display: flex;
    height: 60px;
    padding: 20px 14px;
    align-items: center;
    background: #FCFCFC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 80px;

}

.select_top>div>.showP {
    width: 100%;
}


.select_bottom select {
    display: flex;
    width: 80px;
    height: 57px;
    padding: 20px 14px;
    align-items: center;
    border: 1px solid #A2A2A2;
    background: #FCFCFC;
    border-radius: 5px;

}

.select_bottom>div>.showP {
    border: 1px solid #A2A2A2;

}

p+label {
    margin-left: 12px;
    margin-right: 30px;
}


select+label {
    margin-left: 12px;
    margin-right: 30px;
}

.gray_line {
    width: 100%;
    border: 1px solid #A2A2A2;
}

.year {
    width: 100px !important;
}

span {
    margin-right: 30px;
}