@media (min-width:1281px) {

    /* 회원가입 완료 화면 ct */
    .signup-complete-ct {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;

        width: 80%;
    }

    /* 시대원 학원 회원가입 문구 설정 */
    .complete-title {
        color: #424C5E;
        font-family: "Pretendard Variable";
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 102px 0px 41px 0px;
    }

    /* 회원가입 체크표시 설정 컨테이너 */
    .complete-check-img-ct {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100px;
    }

    /* 첫번째 이미지 설정 */
    .complete-check-img-ct img:first-child {
        width: 100%;
        height: 100%;
        display: block;
    }

    /* 두번째 이미지 설정 첫번째 이미지의 중앙으로 오도록    */
    .completecheck-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* 회원가입 완료 메시지 설정 */
    .complete-message {
        color: #01AEB0;
        text-align: center;
        font-family: "Pretendard Variable";
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        margin-top: 41px;
    }

    /* 이름(출결번호) 회원가입이 성공적으로 완료되었습니다 문구 설정*/
    .complete-inf-message {
        color: #292929;
        font-family: "Pretendard Variable";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        text-align: center;

        margin-top: 17px;
    }

    /* 이름(출결번호) 굵게 설정 */
    .complete-inf-message>span {
        color: #292929;
        text-align: center;
        font-family: "Pretendard Variable";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    /* 로그인 바로하기 버튼 설정 */
    .complete-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        background: #01AEB0;
        height: 75px;

        color: #FCFCFC;
        text-align: center;
        font-family: "Pretendard Variable";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        margin-top : 102px;
    }
}

@media (min-width : 1440px) and (max-width : 1450px) {
    .complete-title {
        margin-top: 50px;
    }

    .complete-message {
        font-size: 35px;
        margin-top : 20px;
    }

    .complete-inf-message, .complete-inf-message > span {
        font-size: 15px;
    }

    .complete-btn {
        height: 50px;
        font-size: 15px;
        margin-top : 50px;
    }

}