.agree-list-ct {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: start;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.agree-divide-line {
    width: 100%;
    height: 1px;
    background: #757575;
}

.agree-essential-ct {
    display: flex;
    gap: 10px;
}

.agree-essential-ct>p {
    color: #4D4D4D;
    font-family: "Pretendard Variable";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.essential-sub {
    color: #2C8FFF;
    font-family: "Pretendard Variable";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.agree-detail {
    font-family: "Pretendard Variable";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: #2C8FFF !important;
}

.agree-check-ct {
    border: 2px solid #CAE8DD;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    gap: 10px;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
}

.agree-check-comment {
    color: #01AEB0;
    font-family: "Pretendard Variable";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.agree-check-btn-ct {
    display: flex;
    gap: 18px;
}

.agree-check-btn-ct>button {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    /* aspect-ratio: 1/1; */
    border-radius: 5px;
    border: 1px solid #4D4D4D;
}

.agree-check-content {
    color: #A2A2A2;
    font-family: "Pretendard Variable";
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.agree-next-btn {
    background: #01AEB0;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 81px;

    color: #FAFAFA;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    text-align: center;
}

.termdesktop {
    display: none
}

.term-ct-desktop {
    display: none;
}

.term-desktop-pharse {
    display: none;
}

@media (min-width : 1024px) {
    .top-root {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
        /* 여기서 스크롤 제거 */
    }

    .signup-term-scroll-ct {
        overflow-y: auto;
        max-height: 100vh;
    }

    .termmobile {
        display: none;
    }

    .termdesktop {
        display: block
    }

    .term-desktop-pharse {
        color: #424C5E;
        font-family: "Pretendard Variable";
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        margin-top: 102px;
        display: block;
    }

    .term-ct-desktop {
        display: flex;
        justify-content: center;
    }

    .term-step1-ct,
    .term-step2-ct,
    .term-step3-ct {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 25%;
        height: 96px;
        justify-content: center;
        margin-top: 41px;
        margin-bottom: 84px;
        background: #ECECEC;
    }

    .term-step1-ct>p:nth-child(1),
    .term-step2-ct>p:nth-child(1),
    .term-step3-ct>p:nth-child(1) {
        color: #A2A2A2;
        text-align: center;
        font-family: "Pretendard Variable";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .term-step1-ct>p:nth-child(2),
    .term-step2-ct>p:nth-child(2),
    .term-step3-ct>p:nth-child(2) {
        color: #A2A2A2;
        text-align: center;
        font-family: "Pretendard Variable";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .agree-check-ct {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 44px;
    }

    .agree-list-ct {
        width: 50%;
        margin: 0 auto;
    }

    .agree-next-btn {
        width: 30%;
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: 95px;
        margin-bottom: 40px;
    }

    .agree-essential-ct>p {
        color: #4D4D4D;
        font-family: "Pretendard Variable";
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .agree-essential-ct>p>span {
        font-size: 17px;
    }

    .agree-check-comment {
        font-size: 20px;
    }

    .agree-check-content {
        font-size: 13px;
    }
}



@media (min-width : 320px) and (max-width : 380px) {
    .agree-check-comment {
        font-size: 14px;
    }
}