.term-all-ct {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    padding-left: 31px;
    padding-right: 12px;
    border: 2px solid #01AEB0;
    background: #FCFCFC;
    margin-bottom: 25px;
}

.term-all-remove-img {
    text-align: right;
    margin-top: 9px;
    /* margin-right: 9px; */
}

.term-all-ct>p {
    color: #292929;
    font-family: "Pretendard Variable";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.term-all-content-ct {
    width: 95%;
    border: 1px solid #A2A2A2;
    padding: 20px 12px;
}

.term-all-content-ct>p {
    color: #4D4D4D;
    font-family: "Pretendard Variable";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.term-all-content-ct>p>span {
    color: #4D4D4D;
    font-family: "Pretendard Variable";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.termall-close-btn {
    border-radius: 5px;
    background: #01AEB0;
    color: #FAFAFA;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 95%;
    height: 41px;
    margin-bottom: 32px;
}