.agree-list-ct {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: start;
    margin: 40px 35px;
}

.agree-divide-line {
    width: 100%;
    height: 1px;
    background: #757575;
}

.agree-essential-ct {
    display: flex;
    gap: 10px;
}

.agree-essential-ct>p {
    color: #4D4D4D;
    font-family: "Pretendard Variable";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.essential-sub {
    color: #2C8FFF;
    font-family: "Pretendard Variable";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.agree-detail {
    font-family: "Pretendard Variable";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: #2C8FFF !important;
}

.agree-check-ct {
    border: 2px solid #CAE8DD;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    gap : 10px;
    align-items: flex-start;
    margin : 0px 35px 0px 35px
}

.agree-check-comment {
    color: #01AEB0;
    font-family: "Pretendard Variable";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.agree-check-btn-ct {
    display: flex;
    gap: 18px;
}

.agree-check-btn-ct>button {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    /* aspect-ratio: 1/1; */
    border-radius: 5px;
    border: 1px solid #4D4D4D;
}

.agree-check-content {
    color: #A2A2A2;
    font-family: "Pretendard Variable";
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}