.classes_ct {
    margin: 0 25px 0 25px !important;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-top: 99px
}

.calender_section {
    margin: 104px 30px 0 30px;

}

.calender_section>p {
    padding: 24px 0 9px 4px;
}