*,
*::before,
*::after {
    box-sizing: border-box;
}

.media-ct {
    min-width: 320px;
    max-width: 480px;
    max-height: 100vh;
}

@media (min-width : 1281px) {
    .media-ct {
        min-width: 1281px;
        max-width: 2560px;
        height: 100vh;
        /* overflow: hidden; */
    }
}


.desktop-ct {
    display: none;
}

/* SeatLayout.css */
.reservation-total-ct {
    display: flex;
}

.lecture-inf {
    display: none;

}

/* 자리선택 전체 컨테이너 */
.rsr-ct {
    width: 550px;
    margin-left: 30px;
}

/* 음향장비, 칠판, 교탁 컨테이너 */
.rsr-header-ct {
    display: flex;
    margin-left: 61px;
    margin-top: 47px;
    gap: 28.51px;
}

/* 음향장비 설정 */
.rsr-sound-equipment {
    width: 78.482px;
    height: 36.223px;
    border-radius: 0 0 20px 0;
    background: #757575;

    color: #FCFCFC;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 칠판, 교탁 컨테이너 설정 */
.rsr-header-flex {
    display: flex;
    flex-direction: column;
    gap: 9.5px;
}

/* 칠판 설정 */
.rsr-board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 271.67px;
    height: 22.502px;
    border-radius: 0 0 20px 20px;
    background: #9ED0BE;

    color: #FCFCFC;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-left: 28.51px;
}

/* 교탁 설정 */
.rsr-desk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120.742px;
    height: 23.051px;
    border-radius: 20px;
    background: #9ED0BE;

    color: #FCFCFC;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    text-align: center;
    margin-left: 124px;
}

/* 자리간 간격 컨테이너(세로)  */
.rsr-rows-ct {
    display: flex;
    flex-direction: column;
    gap: 8.45px;
    margin-top: 12.76px;
}

/* tv 컨테이너 */
.rsr-tv-ct {
    display: flex;
    gap: 169.01px;
    margin-left: 52.953px;
}

/* tv 설정 */
.rsr-tv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80.678px;
    height: 19.209px;
    border-radius: 8px;
    background: #01AEB0;

    color: #FCFCFC;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* 가벽 설정 */
.rsr-wall {
    width: 10.428px;
    height: 45.553px;
    background: #757575;
}


/* 줄 전체 컨테이너(가벽, 출입문 등 전부포함) */
.rsr-row {
    display: flex;
    align-items: center;
    margin-right: 40.45px;
    width: 550px;

}

/* 좌석만 포함되는 줄 컨테이너 */
.rsr-seat-ct {
    display: flex;
    gap: 7.45px;

}

/* 좌석 버튼 기본 스타일 */
.rsr-seat {
    display: flex;
    width: 45.553px;
    height: 45.553px;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #ECECEC;

    color: #A2A2A2;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* 출입문 설정 */
.rsr-door {
    width: 35.674px;
    height: 53.236px;

    border-radius: 0 80px 0 0;
    background: #757575;
}

.door2row {
    margin-right: 48.33px;
}

.doorrow {
    margin-right: 44.43px;
}



/* 1~3번째 줄 설정 */
.rsr-row-1,
.rsr-row-2,
.rsr-row-3 {
    margin-left: 87px;
}

.rsr-row-4 {
    margin-left: 61px;
    width: 505px;
}

.rsr-row-5 {
    margin-left: 144px;
    width: 505px;
}

/* 6~17번째 줄 설정(14 제외 출입문) */
.rsr-row-6,
.rsr-row-7,
.rsr-row-8,
.rsr-row-9,
.rsr-row-10,
.rsr-row-11,
.rsr-row-12,
.rsr-row-13,
.rsr-row-15,
.rsr-row-16,
.rsr-row-17 {
    margin-left: 75px;
}

.rsr-row-14 {
    margin-left: 61px;
    width: 503.49px;
}

/* 1, 8, 15번 좌석 간격조정 */
.rsr-seat-1,
.rsr-seat-8,
.rsr-seat-15 {
    margin-right: 5px;
}

/* 2,, 9, 16번 좌석 간격조정 */
.rsr-seat-2,
.rsr-seat-9,
.rsr-seat-16,
.rsr-seat-22,
.rsr-seat-28 {
    margin-right: 27px;
}

/* 좌석 간격 조정 */
.rsr-seat-4,
.rsr-seat-11,
.rsr-seat-18,
.rsr-seat-24,
.rsr-seat-30,
.rsr-seat-6,
.rsr-seat-13,
.rsr-seat-20,
.rsr-seat-26 {
    margin-right: 28px;
}

.rsr-seat-34,
.rsr-seat-42,
.rsr-seat-50,
.rsr-seat-58,
.rsr-seat-66,
.rsr-seat-74,
.rsr-seat-82,
.rsr-seat-96,
.rsr-seat-103,
.rsr-seat-110 {
    margin-right: 12px;
}

.rsr-seat-35,
.rsr-seat-43,
.rsr-seat-51,
.rsr-seat-59,
.rsr-seat-67,
.rsr-seat-75,
.rsr-seat-83,
.rsr-seat-90,
.rsr-seat-97,
.rsr-seat-104,
.rsr-seat-111 {
    margin-right: 16px;
}

.rsr-seat-37,
.rsr-seat-45,
.rsr-seat-53,
.rsr-seat-61,
.rsr-seat-69,
.rsr-seat-77,
.rsr-seat-85,
.rsr-seat-92,
.rsr-seat-99,
.rsr-seat-106,
.rsr-seat-113 {
    margin-right: 9px;
}

.rsr-seat-39,
.rsr-seat-47,
.rsr-seat-55,
.rsr-seat-63,
.rsr-seat-71,
.rsr-seat-79,
.rsr-seat-87,
.rsr-seat-94,
.rsr-seat-101,
.rsr-seat-108,
.rsr-seat-115 {
    margin-right: 10px;
}

.rsr-seat-95 {
    margin-right: 43.02px;
}

.rsr-seat-32 {
    margin-right: 12px;
}

.rsr-seat-33 {
    margin-right: 6.02px;
}

.rsr-right-ct {
    display: none;
}

.pick-seat-ct {
    display: none;
}


@media (min-width : 1281px) {
    .rsr-right-ct {
        display: block;
    }

    .pick-seat-ct {
        display: block;
    }

    .rsr-right-inf {
        color: #01AEB0;
        font-family: Pretendard;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .lector-inf-ct {
        margin-top: 82px;
    }

    .rsr-right-date {
        color: #4D4D4D;
        text-align: center;
        font-family: Pretendard;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        text-align: left;
    }


    .lector-classroom-ct {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #A2A2A2;
        font-family: Pretendard;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .lector-middle {
        font-size: 25px;
    }

    .rsr-reservation-btn {
        display: flex;
        width: 590px;
        height: 78px;
        padding: 17px 51px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #A2A2A2;

        color: #FFF;
        text-align: center;
        font-family: Pretendard;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        margin-top: 428px;
    }
}

@media (min-width:1440px) and (max-width:1470px) {
    .lecture-inf {
        margin-left: 90px;
        margin-top: 20px;

        display: block;
        color: #01AEB0;
        font-family: Pretendard;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 153px;
        margin-top: 49px;

    }

    .reservation-scroll-ct {
        width: 700px;
    }

    .rsr-ct {
        margin-bottom: 0px;
    }

    .pick-seat-ct {
        display: flex;
        gap: 20px;
        margin: 50px 0px 30px 190px;
    }

    .pick-possible,
    .pick-already-complete {
        display: flex;
        gap: 7px;
        align-items: center;
    }

    .pick-possible>p,
    .pick-already-complete>p {
        color: #757575;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .seat-color-pp {
        width: 25px;
        height: 25px;
        border-radius: 6px;
        background: #ECECEC;
    }

    .seat-color-ac {
        width: 25px;
        height: 25px;
        border-radius: 6px;
        background: #A2A2A2;
    }

    .rsr-right-inf {
        margin-top: 20px;
    }

    .lector-inf-ct {
        margin-top: 30px;
    }

    .rsr-right-date {
        font-size: 35px;
    }

    .lector-classroom-ct {
        font-size: 25px;
    }

    .lector-middle {
        font-size: 20px;
    }

    .rsr-reservation-btn {
        margin-top: 350px;
        font-size: 25px;
    }
}



/* Header는 위에 고정, 나머지가 스크롤 영역 */